{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags%}

{% block content %}

<h1 class="text-3xl font-semibold mt-32 mb-4 text-center mx-4">{{ page.title }}</h1>
<section class="max-w-7xl mx-auto mt-8">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 p-16">
      {% for tour in tours %}
        {% image tour.image width-640 as img %}
        {% include "home/includes/card.html" with title=tour.title price=tour.price image=img.url  text=tour.short_desc link=tour.url %}
      {% endfor %}
    </div>
</section>

{% endblock content %}