@import "tailwindcss";

@theme{
  --font-sans: "Montserrat", ui-sans-serif, system-ui, -apple-system, sans-serif;
  --color-primary: #787143;
  --color-secondary: #fffff0;
}
@source "../../../**/*.{html,py,js}";
